<% content_for :header do -%>
	<h1>Free your events!<small>An event aggregator to answer the question, what is happening HERE?</small></h1>
<% end -%>
<% content_for :sidebar do -%>
<h2>What?</h2>
<ul class="categories filter">
	<% @categories.each do |c| -%>
	<li><%= check_box_tag 'Categories', :checked => 'checked' %><%= link_to c.name, '#', { :"data-original-title" => c.name, :"data-content" => c.description } %></li>
	<% end -%>
</ul>
<h2>When?</h2>
<ul class="last-list filter">
	<li><input type="radio" name="when" value="<%= Date.today %>" checked="checked" />Today</li>
	<li><input type="radio" name="when" value="<%= Date.today+1.day %>" />Tomorrow</li>
	<li><input type="radio" name="when" value="<%= Date.today.end_of_week %>" />This Week</li>
	<li><input type="radio" name="when" value="<%= (Date.today+1.day).end_of_week %>" />Next Week</li>
	<li><input type="radio" name="when" value="<%= Date.today.end_of_month %>" />This Month</li>
	<li><input type="radio" name="when" value="<%= (Date.today+30.days).end_of_month %>" />Next Month</li>
</ul>
<% end -%>

<!-- 
<%= @events %>
-->


        	<ul class="tabs">
  				<li class="active"><a href="#mapevents">Map Events</a></li>
  				<li><a href="#listevents">List Events</a></li>
			</ul>
 
<div class="pill-content">
  <div class="active" id="mapevents">
		<div>
		<%= gmaps({
		"map_options" => { "zoom" => 16, "auto_adjust" => false },
		"markers" => { "data" => @events }
		}) %>
		</div>
  </div>
  <div id="listevents">
  	<h2>Event List</h2>
<ul style="display:none;">
<% 
last_day = nil
@events_list.each do |e| -%>
<% unless last_day == e.start_at.day
	last_day = e.start_at.day %>
		</ul>
  	<h3><%= e.start_at.strftime('%A, %B %e, %Y') %></h3>
  	<ul>
<% end -%>
  		<li><a href=""><%= e.name  %></a>: <small><a href=""><%= e.place.name %></a></small></li>
<% end -%>
</ul>  	
  </div>
</div>

<div class="slide-out-div">
  <a class="handle" href="http://link-for-non-js-users.html">Content</a>
  <h3></h3>
  <form>
            	<fieldset>
<legend>Tell us what's happening</legend>
<div class="clearfix">
<label for="">Event Name</label>
<div class="input">
<input type="text" size="30" name="xlInput" id="xlInput" class="xlarge">
</div>
</div> <!-- /clearfix -->
<div class="clearfix">
<label for="textarea">Description</label>
<div class="input">
<textarea name="textarea" id="textarea" class="large"></textarea>
<span class="help-block">
Breifly tell others what's going on</span>
</div> </div> <!-- /clearfix -->
<div class="clearfix">
<label for="">Category</label>
<div class="input">
<select>
<option>Government</option>
<option>Food</option>
<option>Sports</option>
<option>Music</option>
<option>Educational</option>
</select>
</div>
</div> <!-- /clearfix -->
<div class="clearfix">
<label for="">Place</label>
<div class="input">
<select>
<option>Place #1</option>
<option>Place #2</option>
<option>Place #3</option>
<option>Place #4</option>
<option>Place #5</option>
</select>
</div>
</div> <!-- /clearfix -->

<div class="actions">
<button class="btn primary" type="submit">Add Event</button>&nbsp;<button class="btn"
type="reset">Cancel</button>
</div>
</fieldset>
            </form>
</div>

