<% content_for :header do -%>
	<h1>Free your events!<small>An event aggregator to answer the question, what is happening HERE?</small></h1>
<% end -%>
<% content_for :sidebar do -%>
<h2>What?</h2>
<ul class="categories filter">
	<% @categories.each do |c| -%>
	<% if c.events.count > 0 %>
	<li><%= check_box_tag 'Categories', c.name, {:checked => 'checked'} %><%= link_to c.name, '#', { :"data-original-title" => c.name, :"data-content" => c.description } %></li>
	<% end -%>
	<% end -%>
</ul>
<h2>When?</h2>
<ul class="last-list filter">
	<li><input type="radio" name="when" value="<%= Date.today %>" checked="checked" />Today</li>
	<li><input type="radio" name="when" value="<%= Date.today+1.day %>" />Tomorrow</li>
	<li><input type="radio" name="when" value="<%= Date.today.end_of_week %>" />This Week</li>
	<li><input type="radio" name="when" value="<%= (Date.today+1.day).end_of_week %>" />Next Week</li>
	<li><input type="radio" name="when" value="<%= Date.today.end_of_month %>" />This Month</li>
	<li><input type="radio" name="when" value="<%= (Date.today+30.days).end_of_month %>" />Next Month</li>
</ul>
<% end -%>

<!-- 
<%= @events %>
-->


        	<ul class="tabs">
  				<li class="active"><a href="#mapevents">Map Events</a></li>
  				<li><a href="#listevents">List Events</a></li>
			</ul>
 
<div class="pill-content">
  <div class="active" id="mapevents">
		<div>
		<%= gmaps({
		"map_options" => { "zoom" => 16, "auto_adjust" => false },
		"markers" => { "data" => @events }
		}) %>
		</div>
  </div>
  <div id="listevents">
  	<h2>Event List</h2>
<ul style="display:none;">
<% 
last_day = nil
@events_list.each do |e| -%>
<% unless last_day == e.start_at.day
	last_day = e.start_at.day %>
		</ul>
  	<h3><%= e.start_at.strftime('%A, %B %e, %Y') %></h3>
  	<ul>
<% end -%>
  		<li><a href=""><%= e.name  %></a>: <small><a href=""><%= e.place.name %></a></small></li>
<% end -%>
</ul>  	
  </div>
</div>

<div class="slide-out-div">
  <a class="handle" href="http://link-for-non-js-users.html">Content</a>
  <h3></h3>
<%= form_for @event do |f| -%>
            	<fieldset>
<legend>Tell us what's happening</legend>
<div class="clearfix">
	<%= f.label :name, 'Event Name' %>
<div class="input">
	<%= f.text_field :name, { :size => 30, :class => "xLarge" } %>
</div>
</div> <!-- /clearfix -->

<div class="clearfix">
	<%= f.label :description, 'Description' %>
<div class="input">
	<%= f.text_area :description, { :rows => 3, :cols => 30 } %>
<span class="help-block">
Briefly tell others what's going on</span>
</div> </div> <!-- /clearfix -->

<div class="clearfix">
	<%= f.label :start_at, 'Date' %>
<div class="input">
	<%= f.text_field :start_at,  %>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#event_start_at').datepicker();
	});
	</script>
</div> </div> <!-- /clearfix -->

<%= f.fields_for :event_categories do |ef| -%>
<div class="clearfix">
	<%= ef.label :category_id, 'Category' %>
	<div class="input">
		<%= ef.collection_select :category_id, Category.find(:all,:order => :name), :uuid, :name %>
	</div>
</div> <!-- /clearfix -->
<% end -%>

<div class="clearfix">
	<%= f.label :place_id, 'Place' %>
<div class="input">
	<%= f.collection_select :place_id, Place.find(:all,:order => :name), :uuid, :name %>
</div>
</div> <!-- /clearfix -->

<div class="actions">
	<%= f.submit 'Add Event', :class => 'btn primary' %>
	&nbsp;<button class="btn" type="reset">Cancel</button>
</div>
</fieldset>
  <% end -%>
</div>

<% content_for :scripts do %>
<% javascript_tag do %>
	$(document).ready(function(){
		$('.categories input').change( function () {
			$input = $(this);
			len = Gmaps.map.markers.length
			val = $input.val();
			if( $input.is(':checked') ) {
				for( $i = 0; $i < len;  $i++  ) {
					if( jQuery.inArray( val, Gmaps.map.markers[$i].categories ) ) {
						Gmaps.map.showMarker( Gmaps.map.markers[$i] );
					}
				}
			} else {
				for( $i = 0; $i < len;  $i++  ) {
					if( jQuery.inArray( val, Gmaps.map.markers[$i].categories ) ) {
						Gmaps.map.hideMarker( Gmaps.map.markers[$i] );
					}
				}
			}
		});
	});
	<% end %>
	<% end %>
